.btn {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.items {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
}
.gallery .picture {
    max-height: 1000px;
    width: 33.333333%;
    padding: 3px;
    cursor: pointer;
}
.gallery .picture.hide {
    display: none;
}
.gallery .picture.show {
    display: block;
}
.gallery .picture.hide {
    display: none;
}
.gallery .picture.show {
    display: block;
}
.gallery .picture span {
    display: flex;
    width: 100%;
    overflow: hidden;
}
.gallery .picture img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
}
.gallery .picture:hover img {
    transform: scale(1.1);
}
.preview-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.preview-box.hide {
    opacity: 0;
    transition: all 0.3s ease-out;
}
.preview-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
}
.preview-box .details {
    padding: 13px 15px 13px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.details .icon {
    color: #007bff;
    font-style: 22px;
    cursor: pointer;
}
.preview-box .image-box {
    width: 100%;
    display: flex;
}
.image-box img {
    width: 100%;
    border-radius: 0 0 3px 3px;
}
.shadow {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0, 0, 0, 0.4);
}
.shadow.show {
    display: block;
}
.aftermovie {
    display: block;
    width: 100%;
    padding: 10px;
}
.video {
    margin: auto;
    border-radius: 10px; 
    width: 50%; 
    overflow: hidden;
}
.wrapper {
    margin-bottom: 50px;
}
@media (max-width: 800px) {
    .gallery .picture {
        width: calc(100% / 2);
    }
}
@media (max-width: 700px) {
    nav .items {
        max-width: 600px;
    }
    nav .items .btn {
        padding: 5px;
    }
}
@media (max-width: 600px) {
    nav .items {
        flex-wrap: wrap;
        justify-content: center;
    }
    nav .items .btn {
        margin: 5px;
    }
    .gallery .picture {
        width: 100%;
    }
}
