@layer base {
    input::-webkit-calendar-picker-indicator {
        display: none !important;
    }
}

@layer components {
    .webcomic * {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    
    .webcomic .object-container * {
        z-index: 20;
    }
    
    .customized-form {
        @apply w-full rounded-md border-black focus:outline-none focus:border-transparent focus:ring-black focus:ring-2 transform duration-150 mt-1 focus:-translate-y-1 focus:shadow-md;
    }
}

.leaflet-container {
    display: flex;
    margin: 0;
    width: 90vw;
    height: 80vh;
}
